body {   
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.users-container {
    background-color: #fff;
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1200px;
}

.users {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

.users li {
    cursor: pointer;
    flex: 1;
    margin: 10px;
    text-align: center;
}

.users li p {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.users li img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 10px;
}

button {
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button.disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}
